@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
  @apply container mx-auto bg-black text-white;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

p {
  @apply text-white leading-relaxed opacity-75 text-lg;
}

.custom-text-pink {
  color: #be185d;
}

.bg-image-hands-in {
  background-image: url("../../public/hands-in-lg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
